form {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #000;
  padding: 10px;
  margin-top: 10px;
}

form div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}

form label {
  width: 100%;
  text-align: left;
  padding-right: 10px;
  font-size: 15px;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
}

form button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #0088cc;
  color: white;
  text-align: center;
  box-shadow: 2px 2px 5px #ccc;
  cursor: pointer;
}

@media (max-width: 600px) {
  form {
    width: 90%;
  }
  form label {
    width: 40%;
  }
  form input,
  form textarea {
    width: 100%;
  }
}
